<div class="mw-form-question-builder-wrapper" flex>
    <div class="mw-form-question-builder" ng-class="{'ng-submitted':ctrl.formSubmitted}">
        <div ng-form="ctrl.form" ng-if="!ctrl.isPreview">
            <div layout="row">
                <div flex="60">
                    <md-input-container class="md-block">
                        <mw-label label-for="question-text-{{ctrl.id}}" label-key="mwForm.question.text"></mw-label>
                        <input type="text" name="text" ng-attr-id="question-text-{{ctrl.id}}" ng-model="ctrl.question.text" ng-readonly="ctrl.readOnly" required>
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container flex>
                        <mw-label label-for="question-type-{{ctrl.id}}" label-key="mwForm.question.type"></mw-label>
                        <md-select ng-attr-id="question-type-{{ctrl.id}}" ng-model="ctrl.question.type" ng-change="ctrl.questionTypeChanged()" ng-disabled="ctrl.readOnly" required style="min-width: 100px;" aria-label="question Type">
                            <md-option ng-repeat="type in ctrl.questionTypes" value="{{type}}" translate="{{'mwForm.question.types.' + type + '.name'}}">{{type}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div flex class="mw-question-type" ng-repeat="select in ctrl.options.customQuestionSelects">
                    <md-input-container class="md-block">
                        <mw-label label-for="question-{{select.key}}-{{ctrl.id}}" label-key="{{select.label}}"></mw-label>
                        <md-select ng-attr-id="question-{{opt.key}}-{{ctrl.id}}" ng-model="ctrl.question[select.key]" ng-disabled="ctrl.readOnly" ng-required="select.required" aria-label="question Option">
                            <md-option ng-repeat="opt in select.options track by opt.key" value="{{opt}}">{{opt.label}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>

            <div ng-if="ctrl.question.type" layout="row">
                <div class="mw-form-question-answers-builder" ng-switch="ctrl.question.type" flex ng-if="ctrl.question.type">
                    <div ng-if="ctrl.question.type=='text'">
                        <md-input-container class="md-block" ng-hide="ctrl.isFolded">
                            <label ng-bind-html="'mwForm.question.preview.text'|translate"></label>
                            <input type="text" disabled value="{{'mwForm.question.preview.text'|translate}}">
                        </md-input-container>
                        <p ng-bind-html="'mwForm.question.preview.text'|translate" ng-show="ctrl.isFolded"></p>
                    </div>
                    <div ng-switch-when="textarea">
                        <md-input-container class="md-block">
                            <label ng-bind-html="'mwForm.question.preview.textarea'|translate"></label>
                            <textarea disabled rows="5">{{'mwForm.question.preview.textarea'|translate}}</textarea>
                        </md-input-container>
                    </div>
                    <div ng-switch-when="radio">
                        <mw-question-offered-answer-list-builder question="ctrl.question" form-object="ctrl.formObject" read-only="ctrl.readOnly"></mw-question-offered-answer-list-builder>
                    </div>
                    <div ng-switch-when="checkbox">
                        <mw-question-offered-answer-list-builder question="ctrl.question" form-object="ctrl.formObject" read-only="ctrl.readOnly"></mw-question-offered-answer-list-builder>
                    </div>
                    <div ng-switch-when="priority">
                        <mw-question-priority-list-builder question="ctrl.question" read-only="ctrl.readOnly"></mw-question-priority-list-builder>
                    </div>
                    <div ng-switch-when="number">
                        <div class="range-config" layout="row">
                            <md-input-container flex>
                                <span translate="mwForm.question.number.min">Min</span>:
                                <input type="number" ng-model="ctrl.question.min" max="{{ctrl.question.max}}" ng-readonly="ctrl.readOnly"/>
                            </md-input-container>
                            <md-input-container flex>
                                <span translate="mwForm.question.number.max">Max</span>:
                                <input type="number" min="{{ctrl.question.min}}" ng-model="ctrl.question.max" ng-readonly="ctrl.readOnly"/>
                            </md-input-container>
                        </div>
                        <input type="number" disabled>
                    </div>
                    <div ng-switch-when="date" class="md-inline-form">
                        <md-input-container class="md-block">
                            <input type="date" disabled>
                        </md-input-container>
                    </div>
                    <div ng-switch-when="datetime" class="md-inline-form">
                        <md-input-container class="md-block">
                            <input type="datetime" disabled>
                        </md-input-container>
                    </div>
                    <div ng-switch-when="time" class="md-inline-form">
                        <md-input-container class="md-block">
                            <input type="datetime" disabled>
                        </md-input-container>
                    </div>
                    <div ng-switch-when="email" class="md-inline-form">
                        <md-input-container class="md-block">
                            <input type="email" disabled>
                        </md-input-container>
                    </div>
                    <div ng-switch-when="range">
                        <div class="range-config" layout="row">
                            <md-input-container flex>
                                <label translate="mwForm.question.range.from">Range from</label>
                                <input type="number" ng-model="ctrl.question.min" required ng-readonly="ctrl.readOnly"/>
                            </md-input-container>
                            <md-input-container flex>
                                <label translate="mwForm.question.range.to">to</label>
                                <input type="number" ng-model="ctrl.question.max" required ng-readonly="ctrl.readOnly"/>
                            </md-input-container>
                        </div>

                        <div class="mw-range">
                            <md-input-container flex>
                                <input min="ctrl.question.min" max="ctrl.question.max" type="range" disabled>
                            </md-input-container>
                        </div>

                    </div>
                    <div ng-switch-when="url" class="md-inline-form">
                        <md-input-container class="md-block">
                            <input type="url" disabled>
                        </md-input-container>
                    </div>
                </div>

                <div flex="100" ng-if="ctrl.question.type=='grid'">
                    <mw-question-grid-builder question="ctrl.question" read-only="ctrl.readOnly"></mw-question-grid-builder>
                </div>
                <div flex="100" ng-if="ctrl.question.type=='division'">
                    <mw-question-division-builder question="ctrl.question" read-only="ctrl.readOnly"></mw-question-division-builder>
                </div>
            </div>

            <div layout="row" layout-xs="column" class="mw-form-question-builder-bottom">
                <md-switch ng-model="ctrl.question.required" ng-disabled="ctrl.readOnly">
                    <span translate="mwForm.question.required">Required</span>
                </md-switch>
                <md-switch aria-label="after Question Answer" ng-model="ctrl.question.pageFlowModifier" ng-change="ctrl.pageFlowModifierChanged()" ng-readonly="ctrl.readOnly" ng-if="ctrl.question.type=='radio'">
                    <span translate="mwForm.pageFlow.afterQuestionAnswer">Przejdź do strony w oparciu o odpowiedź</span>
                </md-switch>
                <md-button class="md-raised md-primary" ng-click="ctrl.save()" translate="mwForm.buttons.questionReady">Gotowe</md-button>
            </div>

            <md-menu>
                <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                    <md-icon md-menu-origin md-font-icon="fa-menu"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="ctrl.redial($event)">
                            <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
                            Redial
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
                            <md-icon md-svg-icon="call:voicemail"></md-icon>
                            Check voicemail
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="ctrl.toggleNotifications()">
                            <md-icon md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
                            {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }}
                            notifications
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>

    <div class="mw-preview" ng-if="ctrl.isPreview">
        <p class="mw-question-text">
            {{ctrl.question.text}}
            <span ng-if="ctrl.question.required">*</span>
        </p>
        <div class="question-answers" ng-switch="ctrl.question.type" layout="row">
            <div ng-switch-when="text" flex>
                <md-input-container class="md-block">
                    <input type="text" disabled value="{{'mwForm.question.preview.text'|translate}}">
                </md-input-container>
            </div>
            <div ng-switch-when="number" flex>
                <md-input-container class="md-block">
                    <input type="number" disabled>
                </md-input-container>
            </div>
            <div ng-switch-when="date" flex>
                <md-input-container class="md-block">
                    <input type="date" disabled>
                </md-input-container>
            </div>
            <div ng-switch-when="datetime" flex>
                <md-input-container class="md-block">
                    <input type="datetime" disabled>
                </md-input-container>
            </div>
            <div ng-switch-when="time" flex>
                <md-input-container class="md-block">
                    <input type="time" disabled>
                </md-input-container>
            </div>
            <div ng-switch-when="email" flex>
                <md-input-container class="md-block">
                    <input type="email" disabled>
                </md-input-container>
            </div>
            <div ng-switch-when="range" class="mw-range" flex>
                <md-input-container class="md-block">
                    <input ng-attr-min="{{ctrl.question.min}}" ng-attr-max="{{ctrl.question.max}}" class="" type="range" disabled>
                </md-input-container>
            </div>
            <div ng-switch-when="url" flex>
                <md-input-container class="md-block">
                    <input type="url" disabled>
                </md-input-container>
            </div>

            <div ng-switch-when="textarea" flex>
                <md-input-container class="md-block">
                    <textarea type="text" rows="5" disabled>{{'mwForm.question.preview.textarea'|translate}}</textarea>
                </md-input-container>
            </div>

            <div ng-switch-when="radio" flex>

                <md-radio-group>
                    <md-radio-button ng-repeat="answer in ctrl.question.offeredAnswers">{{answer.value}}</md-radio-button>
                    <md-radio-button ng-if="ctrl.question.otherAnswer">{{answer.value}}
                        <span translate="mwForm.question.preview.otherAnswer">Inna</span>
                    </md-radio-button>
                </md-radio-group>

            </div>
            <div ng-switch-when="checkbox" flex>
                <md-checkbox ng-repeat="answer in ctrl.question.offeredAnswers">{{answer.value}}</md-checkbox>
                <md-checkbox ng-if="ctrl.question.otherAnswer">
                    <md-input-container>
                        <label>
                            <span translate="mwForm.question.preview.otherAnswer">Inna</span>:</label>
                        <input type="text" disabled/>
                    </md-input-container>
                </md-checkbox>
            </div>

            <div ng-switch-when="grid" flex>
                <div class="table-responsive">
                    <table class="table table-condensed table-striped" border="0" cellpadding="5" cellspacing="0">
                        <thead>
                            <tr>
                                <td></td>
                                <td ng-repeat="col in ctrl.question.grid.cols">
                                    <label>{{col.label}}</label>
                                </td>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="row in ctrl.question.grid.rows">
                                <td>
                                    {{row.label}}
                                </td>
                                <td ng-repeat="col in ctrl.question.grid.cols">
                                    <input type="radio">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="mw-priority-list" ng-switch-when="priority">
                <table>
                    <thead>
                        <tr>
                            <th translate="mwForm.question.priority.sorted">Sorted</th>
                            <th translate="mwForm.question.priority.available">Available</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td class="mw-ordered-items"></td>

                            <td class="mw-available-items">
                                <div class="mw-item" ng-repeat="item in ctrl.question.priorityList">
                                    {{::item.value}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-switch-when="division" class="" flex>
                <div style="margin-bottom: 5px" ng-repeat="item in ctrl.question.divisionList">
                    <md-input-container>
                        <label>
                            {{item.value}}
                        </label>
                        <input type="number" style="width: 80px">
                        <span>{{ctrl.question.unit}}</span>
                    </md-input-container>
                </div>
                <div class="md-inline-form" style="margin-bottom: 5px">
                    <div class="form-group">
                        <label translate="mwForm.question.division.assignedSumLabel">
                            Przydzielono
                        </label>
                        <input type="number" class="form-control strict-validation" style="width: 80px" readonly value="0">
                        <span>{{ctrl.question.unit}}
                            <span translate="mwForm.question.division.fromRequiredLabel">z wymaganych</span>
                            <strong>{{ctrl.question.quantity}}</strong>
                            {{ctrl.question.unit}}</span>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

</div>
