<div ng-class="{'page-folded': ctrl.isFolded}">

    <div class="mw-form-page-builder" ng-mouseover="ctrl.hoverIn()" ng-mouseleave="ctrl.hoverOut()">
        <div class="mw-page-tab-container">
            <div class="mw-form-page-tab">
                <span class="mw-page-tab-text" role="heading" translate="mwForm.page.tab.heading" translate-values="{page: ctrl.formPage.number, allPages:ctrl.formObject.pages.length}">Strona 1 z 3</span>
                <md-switch ng-model="ctrl.formPage.namedPage" ng-disabled="ctrl.readOnly">
                    <span class="mw-page-tab-checkbox-text" translate="mwForm.page.pageWithNameCheckbox">named</span>
                </md-switch>
            </div>
            <!-- <div class="mw-page-tab-triangle"></div> -->

            <div class="mw-page-tab-actions" layout="row" ng-switch="ctrl.readOnly">
                <md-button class="fold-button md-icon-button launch" ng-click="ctrl.fold()" ng-attr-title="{{'mwForm.buttons.fold' | translate}}">
                    <md-tooltip md-direction="top">
                        {{'mwForm.buttons.fold' | translate}}
                    </md-tooltip>
                    <i class="fa fa-compress"></i>
                </md-button>
                <md-button class="unfold-button md-icon-button launch" ng-click="ctrl.unfold()" ng-attr-title="{{'mwForm.buttons.unfold' | translate}}">
                    <md-tooltip md-direction="top">
                        {{'mwForm.buttons.unfold' | translate}}
                    </md-tooltip>
                    <i class="fa fa-expand"></i>
                </md-button>
                <div ng-switch-when="false">
                    <md-button class="move-down-button md-icon-button launch" ng-click="ctrl.moveDown()" ng-if="!ctrl.isLast" ng-attr-title="{{'mwForm.buttons.moveDown' | translate}}">
                        <md-tooltip md-direction="top">
                            {{'mwForm.buttons.moveDown' | translate}}
                        </md-tooltip>
                        <i class="fa  fa-chevron-down"></i>
                    </md-button>
                </div>
                <div ng-switch-when="false">
                    <md-button class="move-up-button md-icon-button launch" ng-click="ctrl.moveUp()" ng-if="!ctrl.isFirst" ng-attr-title="{{'mwForm.buttons.moveUp' | translate}}">
                        <md-tooltip md-direction="top">
                            {{'mwForm.buttons.moveUp' | translate}}
                        </md-tooltip>
                        <i class="fa fa-chevron-up"></i>
                    </md-button>
                </div>
                <div ng-switch-when="false">
                    <md-button class="remove-button md-icon-button launch" mw-confirm-click confirmed-action="ctrl.removePage()" ng-attr-title="{{'mwForm.buttons.removePage' | translate}}">
                        <md-tooltip md-direction="top">
                            {{'mwForm.buttons.removePage' | translate}}
                        </md-tooltip>
                        <i class="fa fa-trash"></i>
                    </md-button>
                </div>
            </div>
        </div>

        <div ng-form="ctrl.form" novalidate class="form-page-builder-body">
            <md-input-container class="md-block" ng-if="ctrl.formPage.namedPage" ng-hide="ctrl.isFolded">
                <label ng-attr-for="page-name-{{ctrl.formPage.number}}" translate="mwForm.page.name">Nazwa strony</label>
                <input type="text" name="pageName" ng-attr-id="page-name-{{ctrl.formPage.number}}" ng-model="ctrl.formPage.name" ng-readonly="ctrl.readOnly">
            </md-input-container>
            <p ng-show="ctrl.isFolded">{{::ctrl.formPage.name}}</p>

            <div class="page-element-list" ng-sortable="ctrl.sortableConfig" ng-model="ctrl.formPage.elements">
                <div class="empty-page-element-list-label form-group" ng-if="!ctrl.formPage.elements || (ctrl.formPage.elements && ctrl.formPage.elements.length === 0)">
                    <span translate="mwForm.page.elements.empty">Brak elementów</span>
                </div>
                <mw-form-page-element-builder ng-repeat="element in ctrl.formPage.elements" page-element="element" form-object="ctrl.formObject" is-active="ctrl.isElementActive(element)" on-ready="ctrl.onElementReady()" ng-click="ctrl.selectElement(element)" is-first="$first" is-last="$last" read-only="ctrl.readOnly"></mw-form-page-element-builder>
            </div>

            <md-menu>
                <md-button aria-label="Add Element" class="md-raised md-mini md-primary" ng-click="$mdOpenMenu($event)">
                    <span translate="mwForm.buttons.addElement">Add element</span>
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-if="ctrl.isElementTypeEnabled('question')">
                        <md-button ng-click="ctrl.addQuestion()">
                            <i class="fa fa-question-circle  fa-lg fa-fw"></i>
                            <span translate="mwForm.elements.question">Pytanie</span>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item ng-if="ctrl.isElementTypeEnabled('image')">
                        <md-button ng-click="ctrl.addImage()">
                            <i class="fa fa-picture-o fa-lg fa-fw"></i>
                            <span translate="mwForm.elements.image">Obraz</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="ctrl.isElementTypeEnabled('paragraph')">
                        <md-button ng-click="ctrl.addParagraph()">
                            <i class="fa fa-paragraph fa-lg fa-fw"></i>
                            <span translate="mwForm.elements.paragraph">Obraz</span>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item ng-if="ctrl.isElementTypeEnabled('response')">
                        <md-button ng-click="ctrl.addResponse()">
                            <i class="fa fa-response fa-lg fa-fw"></i>
                            <span translate="mwForm.elements.response">Obraz</span>
                        </md-button>
                    </md-menu-item>


                </md-menu-content>
            </md-menu>
        </div>

        <md-button class="md-fab md-mini md-primary md-fab-bottom-right" ng-click="ctrl.addPage()" ng-if="!ctrl.readOnly" ng-attr-title="{{'mwForm.buttons.addPage' | translate}}">
            <md-tooltip direction="top">
                {{'mwForm.buttons.addPage' | translate}}
            </md-tooltip>
            <i class="fa fa-plus"></i>
        </md-button>

        <!-- TODO: Table to DIV -->
    </div>
    <div ng-if="!ctrl.isLast" class="mw-page-bottom-tab-container">
        <div layout="row" class="mw-form-page-bottom-tab">
            <span translate="mwForm.pageFlow.afterPage" class="bottom-flow-label" translate-values="{page:ctrl.formPage.number}" ng-attr-for="page-flow-select-{{ctrl.formPage.number}}">Po stronie 1</span>
            <md-select ng-attr-id="page-flow-select-{{ctrl.formPage.number}}" ng-model="ctrl.formPage.pageFlow" ng-disabled="ctrl.readOnly" aria-label="possible page flow" class="bottom-flow-select">
                <md-option ng-repeat="pageFlow in ctrl.possiblePageFlow" ng-value="pageFlow" ng-bind-html="(pageFlow.label|translate:pageFlow)"></md-option>
            </md-select>
        </div>
    </div>
</div>
