<div class="mw-form-paragraph-builder-wrapper">
    <div class="mw-form-paragraph-builder" ng-class="{'ng-submitted':ctrl.formSubmitted}">
        <div class="paragraph-editor" ng-form="ctrl.form" ng-if="!ctrl.isPreview">
            <md-input-container class="md-block">
                <label>
                    {{'mwForm.paragraph.placeholder'|translate}}
                </label>
                <textarea rows="5" ng-model="ctrl.paragraph.html" required ng-attr-id="paragraph-textarea-{{ctrl.id}}" ng-readonly="ctrl.readOnly"></textarea>
            </md-input-container>
            <md-button class="md-raised" ng-click="ctrl.save()" translate="mwForm.buttons.questionReady">Gotowe</md-button>
        </div>
        <div class="mw-preview" ng-if="ctrl.isPreview">
            <p ng-bind="ctrl.paragraph.html"></p>
        </div>
    </div>
</div>
