<div class="mw-form-image-builder-wrapper">
    <div class="mw-form-image-builder" ng-class="{'ng-submitted':ctrl.formSubmitted}">
        <div class="image-editor" ng-form="ctrl.form" ng-if="!ctrl.isPreview">
            <md-button ng-if="!ctrl.image.src" ng-click="ctrl.selectImageButtonClicked()" class="md-raised" translate="mwForm.image.selectImageButton">Select image</md-button>

            <div class="image-edition" layout="row" ng-if="ctrl.image.src">
                <div flex ng-class="'align-'+ctrl.image.align">
                    <img ng-src="{{ctrl.image.src}}">
                </div>
                <div flex class="image-align-control">
                    <div class="btn-group" role="group" aria-label="Image align">
                        <button type="button" class="btn btn-default" ng-class="{'selected': ctrl.image.align=='left'}" ng-click="ctrl.setAlign('left')">
                            <i class="fa fa-align-left"></i>
                        </button>
                        <button type="button" class="btn btn-default" ng-class="{'selected': ctrl.image.align=='center'}" ng-click="ctrl.setAlign('center')">
                            <i class="fa fa-align-center"></i>
                        </button>
                        <button type="button" class="btn btn-default" ng-class="{'selected': ctrl.image.align=='right'}" ng-click="ctrl.setAlign('right')">
                            <i class="fa fa-align-right"></i>
                        </button>
                    </div>
                </div>

                <div layout="column">
                    <md-input-container>
                        <label ng-attr-for="image-caption-{{ctrl.id}}">Podpis</label>
                        <div flex="66">
                            <input type="text" name="text" ng-attr-id="image-caption-{{ctrl.id}}" ng-model="ctrl.image.caption" ng-readonly="ctrl.readOnly">
                        </div>
                    </md-input-container>
                </div>
            </div>

            <div layout="row" ng-if="ctrl.image.src">
                <div flex="16">
                    <button type="button" class="btn btn-primary" ng-click="ctrl.save()" translate="mwForm.buttons.questionReady">Gotowe</button>
                </div>
            </div>

        </div>
        <div class="mw-preview" ng-if="ctrl.isPreview">
            <figure ng-class="'align-'+ctrl.image.align">
                <img ng-src="{{ctrl.image.src}}" ng-attr-alt="ctrl.image.caption">
                <figcaption ng-if="ctrl.image.caption">{{ctrl.image.caption}}</figcaption>
            </figure>
        </div>
    </div>

</div>
