<div class="mw-form-question">

    <div class="mw-question-text">
        {{ctrl.question.text}} <span ng-if="ctrl.question.required">*</span>
    </div>

    <div class="mw-question-answers">
        <div ng-if="ctrl.question.type=='text'">
            <input class="form-control" type="text" ng-model="ctrl.questionResponse.answer"  placeholder="{{'mwForm.question.preview.text'|translate}}" ng-required="ctrl.question.required">
        </div>
        <div ng-if="ctrl.question.type=='textarea'">
            <textarea class="form-control" ng-model="ctrl.questionResponse.answer"  placeholder="{{'mwForm.question.preview.textarea'|translate}}" ng-required="ctrl.question.required" ></textarea>
        </div>
        <div ng-if="ctrl.question.type=='radio'">
            <div class="radio" ng-repeat="answer in ctrl.question.offeredAnswers">
                <label>
                    <input type="radio" ng-model="ctrl.questionResponse.selectedAnswer" ng-value="answer.id" name="answer-for-question-{{ctrl.question.id}}" ng-change="ctrl.selectedAnswerChanged()" ng-required="ctrl.question.required &&!ctrl.isOtherAnswer">
                    {{answer.value}}
                </label>
            </div>
            <div class="radio" ng-if="ctrl.question.otherAnswer">
                <label>
                    <input type="radio" ng-model="ctrl.isOtherAnswer" ng-value="true" name="other-answer-for-question-{{ctrl.question.id}}" ng-change="ctrl.otherAnswerRadioChanged()">Inna:
                </label>
                <span class="form-inline">
                    <input type="text" name="other-answer-for-question-{{ctrl.question.id}}" ng-model="ctrl.questionResponse.other" class="form-control" ng-disabled="!ctrl.isOtherAnswer"
                                   ng-required="ctrl.isOtherAnswer">
                </span>
            </div>
        </div>

        <div ng-if="ctrl.question.type=='checkbox'">
            <div class="checkbox" ng-repeat="answer in ::ctrl.question.offeredAnswers">
                <label>
                    <input type="checkbox" name="answer-for-question-{{ctrl.question.id}}" ng-checked="ctrl.questionResponse.selectedAnswers.indexOf(answer.id) != -1" ng-click="ctrl.toggleSelectedAnswer(answer)">
                    {{::answer.value}}
                </label>
            </div>
            <div class="checkbox"  ng-if="ctrl.question.otherAnswer">
                <label>
                    <input type="checkbox" name="answer-for-question-{{ctrl.question.id}}" ng-model="ctrl.isOtherAnswer" ng-change="ctrl.otherAnswerCheckboxChanged()"><span translate="mwForm.question.preview.otherAnswer">Inna</span>:
                </label>
                <span class="form-inline">
                    <input type="text" ng-model="ctrl.questionResponse.other" name="other-answer-for-question-{{ctrl.question.id}}" class="form-control" ng-disabled="!ctrl.isOtherAnswer" ng-required="ctrl.isOtherAnswer">
                </span>

            </div>
            <input type="hidden" ng-model="ctrl.selectedAnswer" ng-required=""/>
        </div>

        <div ng-if="ctrl.question.type=='grid'">
            <div class="table-responsive">
                <table class="table table-condensed table-striped" border="0" cellpadding="5" cellspacing="0">
                    <thead>
                    <tr>
                        <td></td>
                        <td ng-repeat="col in ::ctrl.question.grid.cols">
                            <label>{{::col.label}}</label>
                        </td>
                    </tr>

                    </thead>
                    <tbody>
                    <tr ng-repeat="row in ::ctrl.question.grid.rows">
                        <td>
                            {{::row.label}}
                        </td>
                        <td ng-repeat="col in ::ctrl.question.grid.cols">
                            <input type="radio" ng-model="ctrl.questionResponse[row.id]" ng-value="col.id" name="answer-for-question-{{row.id}}" ng-required="ctrl.question.required">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div ng-if="ctrl.question.type=='division'" class="division-list" ng-form="ctrl.divisionForm">
            <div class="form-inline" style="margin-bottom: 5px" ng-repeat="item in ctrl.question.divisionList">
                <div class="form-group">
                    <label>
                        {{item.value}}
                    </label>
                    <input type="number" class="form-control" ng-model="ctrl.questionResponse[item.id]" min="0" max="{{ctrl.question.quantity}}" required style="width: 80px" ng-change="ctrl.computeDivisionSum()">
                    <span>{{::ctrl.question.unit}}</span>
                </div>

            </div>
            <div class="form-inline" style="margin-bottom: 5px">
                <div class="form-group">
                    <label translate="mwForm.question.division.assignedSumLabel">
                        Przydzielono
                    </label>
                    <input type="number" class="form-control strict-validation" ng-model="ctrl.divisionSum" min="{{ctrl.question.quantity}}" max="{{ctrl.question.quantity}}" style="width: 80px" readonly>
                    <span>{{ctrl.question.unit}} <span translate="mwForm.question.division.fromRequiredLabel">z wymaganych</span> <strong>{{ctrl.question.quantity}}</strong> {{ctrl.question.unit}}  <i ng-show="ctrl.divisionForm.$valid" class="fa fa-check" style="color:#008000;"></i></span>
                </div>

            </div>

        </div>

        <mw-priority-list ng-if="ctrl.question.type=='priority'" question-response="ctrl.questionResponse" question="ctrl.question"></mw-priority-list>

    </div>

</div>

