<div class="question-offered-answer-list-builder">
    <div class="question-offered-answer-list" ng-sortable="ctrl.offeredAnswersSortableConfig" ng-model="ctrl.question.offeredAnswers" role="list">
        <div class="mw-question-offered-answer" ng-repeat="answer in ctrl.question.offeredAnswers" role="listitem">
            <div class="drag-handle" ng-if="!ctrl.readOnly">
                 <i class="fa fa-arrows-v fa-lg handle-inner"></i>
            </div>
            <div class="option-type-indicator">
                <i ng-if="ctrl.question.type=='radio'" class="fa fa-circle-thin fa-fw"></i>
                <i ng-if="ctrl.question.type=='checkbox'" class="fa fa-square-o fa-fw"></i>
            </div>
            <md-input-container>
                <input wd-focus-me="ctrl.isNewAnswer[answer.id]" type="text" ng-model="answer.value" ng-keypress="ctrl.keyPressedOnInput($event,answer)" required class="form-control offered-answer-value " ng-readonly="ctrl.readOnly">
            </md-input-container>
            <md-button role="button" class="md-raised md-icon-button remove-item-button" ng-click="ctrl.removeOfferedAnswer(answer)" ng-if="!ctrl.readOnly"
                    ng-attr-title="{{'mwForm.buttons.remove' | translate}}">
                <md-tooltip md-direction="top">
                    {{'mwForm.buttons.remove' | translate}}
                </md-tooltip>
                <i class="fa fa-times"></i>
            </md-button>
            <span ng-if="ctrl.question.pageFlowModifier" class="form-inline">
                  <md-input-container >
                     <md-select ng-model="answer.pageFlow" ng-disabled="ctrl.readOnly">
                       <md-option ng-value="pageFlow" ng-repeat="pageFlow in ctrl.possiblePageFlow">{{ pageFlow.label|translate:pageFlow }}</md-option>
                     </md-select>
                 </md-input-container>
            </span>

        </div>

    </div>
    <div class="mw-question-offered-answer add-new-answer-widget" ng-if="!ctrl.readOnly">
        <div class="drag-handle">
        </div>
        <div class="option-type-indicator">
            <i ng-if="ctrl.question.type=='radio'" class="fa fa-circle-thin fa-fw"></i>
            <i ng-if="ctrl.question.type=='checkbox'" class="fa fa-square-o fa-fw"></i>
        </div>
        <span ng-click="ctrl.addNewOfferedAnswer()" role="button">
            <md-input-container>
                <input type="text" class="form-control  offered-answer-value" value="{{'mwForm.question.buttons.addOption'|translate}}">
            </md-input-container>
        </span>
        <span class="add-custom-answer"  ng-if="!ctrl.disableOtherAnswer && !ctrl.question.otherAnswer">
            <span translate="mwForm.question.orLabel">or </span>
            <md-button role="button" ng-click="ctrl.addCustomAnswer()" translate="mwForm.question.buttons.addOther">Dodaj "Inne"</md-button>
        </span>
    </div>
    <div class="mw-question-offered-answer custom-answer" ng-if="ctrl.question.otherAnswer">
        <div class="drag-handle"  ng-if="!ctrl.readOnly">

        </div>
        <div class="option-type-indicator">
            <i ng-if="ctrl.question.type=='radio'" class="fa fa-circle-thin fa-fw"></i>
            <i ng-if="ctrl.question.type=='checkbox'" class="fa fa-square-o fa-fw"></i>
        </div>
        <label translate="mwForm.question.otherLabel">Inna: </label>
        <md-input-container>
            <input  type="text" value="{{'mwForm.question.userAnswer'|translate}}"  class="form-control offered-answer-value " readonly>
        </md-input-container>
        <md-button type="button" role="button" class="md-raised md-icon-button remove-item-button" ng-click="ctrl.removeCustomAnswer()" ng-if="!ctrl.readOnly"
                ng-attr-title="{{'mwForm.buttons.remove' | translate}}">
            <md-tooltip md-direction="top">
                {{'mwForm.buttons.remove' | translate}}
            </md-tooltip>
            <i class="fa fa-times"></i>
        </md-button>
    </div>
</div>
