<div class="mw-form-viewer-content">
        <h1 class="form-title">{{ctrl.formData.name}}</h1>
        <div class="mw-title-page" ng-if="!ctrl.currentPage && !ctrl.formSubmitted">

            <div class="mw-form-description">
                {{ctrl.formData.description}}
            </div>

            <button type="button"  class="btn btn-default begin-response-button" ng-click="ctrl.beginResponse()" translate="mwForm.buttons.begin">Rozpocznij</button>
        </div>

        <div class="mw-form-page" ng-if="ctrl.currentPage">
            <h2 class="mw-page-title" ng-if="ctrl.currentPage.namedPage && ctrl.currentPage.name">{{ctrl.currentPage.name}}</h2>
            <div class="mw-form-page-element-list">
                <div class="mw-page-element" ng-repeat="pageElement in ctrl.currentPage.elements" ng-switch="pageElement.type">
                    <mw-form-question ng-switch-when="question" question="pageElement.question" question-response="ctrl.responseData[pageElement.question.id]"  read-only="ctrl.readOnly" on-response-changed="ctrl.onResponseChanged(pageElement)"></mw-form-question>
                    <div class="image-element" ng-switch-when="image">
                        <figure ng-class="'align-'+pageElement.image.align">
                            <img ng-src="{{pageElement.image.src}}" ng-attr-alt="pageElement.image.caption">
                            <figcaption ng-if="pageElement.image.caption">{{pageElement.image.caption}}</figcaption>
                        </figure>
                    </div>
                    <div ng-switch-when="paragraph">
                        <p ng-bind-html="::ctrl.print(pageElement.paragraph.html)"></p>
                    </div>

                </div>

            </div>
        </div>

        <mw-form-confirmation-page ng-if="ctrl.formSubmitted" confirmation-message="ctrl.formData.confirmationMessage" submit-status="ctrl.submitStatus"></mw-form-confirmation-page>


        <div class="mw-form-action-list">

            <button type="button"  ng-if="ctrl.buttons.prevPage.visible" class="btn btn-default prev-page-button" ng-click="ctrl.goToPrevPage()"><i class="fa fa-chevron-left"></i> <span translate="mwForm.buttons.back">Wstecz</span></button>
            <button type="button" ng-disabled="ctrl.form.$invalid" ng-if="ctrl.buttons.nextPage.visible" class="btn btn-default next-page-button" ng-click="ctrl.goToNextPage()"><span translate="mwForm.buttons.next">Dalej</span> <i class="fa fa-chevron-right"></i></button>
            <button type="submit" ng-disabled="ctrl.form.$invalid" ng-if="ctrl.buttons.submitForm.visible && !ctrl.readOnly" class="btn btn-default next-page-button" ng-click="ctrl.submitForm()"> <span translate="mwForm.buttons.submit">Submit</span></button>
        </div>
</div>
