<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>angular-surveys demo</title>
        <link rel="stylesheet" href="../bower_components/angular/angular-csp.css">
        <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="../dist/form-builder.min.css">
        <link rel="stylesheet" href="../dist/form-viewer.min.css">
        <link rel="stylesheet" href="demo.css">
    </head>
    <body ng-app="app" ng-controller="DemoController as vm">

        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools" style="border-bottom: 1px solid #e7e7e7;">
                <h2>
                    <span>angular-surveys demo</span>
                </h2>
                <md-menu>
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon class="glyphicon glyphicon-flag"></md-icon>
                        Language
                    </md-button>
                    <md-menu-content width="6">
                        <md-menu-item ng-repeat="language in vm.languages">
                            <md-button ng-click="vm.changeLanguage(language)">
                                {{language}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>

        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab index="0" label="Builder">
                    <md-content flex layout-padding>
                        <div layout="row">
                            <md-button type="button" class="md-raised md-primary" ng-click="vm.resetBuilder()">Reset</md-button>
                            <md-switch fles aria-label="readOnly" ng-model="vm.builderReadOnly">
                                Read only
                            </md-switch>
                        </div>

                        <div layout="row">
                            <mw-form-builder api="vm.formBuilder" options="vm.optionsBuilder" form-data="vm.formData" form-status="vm.formStatus" read-only="vm.builderReadOnly" on-image-selection="vm.onImageSelection()"></mw-form-builder>
                        </div>

                        <pre>{{vm.formData|json}}</pre>

                    </md-content>
                </md-tab>
                <md-tab select="vm.resetViewer()" label="Viewer">
                    <md-content flex layout-padding>
                        <md-button style="margin-bottom: 15px" class="md-raised" ng-click="vm.resetViewer()">Reset</md-button>
                        <md-checkbox ng-model="vm.formOptions.autoStart">
                            Autostart
                        </md-checkbox>
                        <md-checkbox ng-model="vm.viewerReadOnly">
                            Read only
                        </md-checkbox>
                        <!-- <input type="text" ng-model="vm.multiple"> -->
                        {{vm.multiple}}
                    </md-content>
                    <div layout="row">
                        <md-input-container>
                            <input type="text" ng-model="vm.id">
                        </md-input-container>

                        <md-input-container>
                            <input type="text" ng-model="vm.value">
                        </md-input-container>
                        <md-button ng-click="vm.modify()">값 조작!</md-button>
                    </div>
                    <mw-form-viewer
                        form-data="vm.formData"
                        template-data="vm.templateData"
                        form-status="vm.formStatus"
                        options="vm.formOptions"
                        api="vm.formViewer"
                        response-data="vm.responseData"
                        read-only="vm.viewerReadOnly"
                        on-submit="vm.saveResponse()"
                        multiple="vm.multiple"></mw-form-viewer>

                    <hr>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="vm.showResponseData">
                            Show response data
                        </label>
                    </div>
                    <pre ng-if="vm.showResponseData">
{{vm.responseData|json}}
                    </pre>
                </md-tab>
                <md-tab label="Model">
                    <pre>
                        {{vm.formData|json}}
                    </pre>
                </md-tab>

                <!--<md-tab label="Utils">
                    <md-content flex layout-padding>
                        <h3>mwFormResponseUtils service</h3>
                        <br/>
                        <h4>
                            <a ng-click="vm.cmergeFormWithResponse = !vm.cmergeFormWithResponse" href="#mergeFormWithResponse" aria-expanded="false" aria-controls="collapseExample">
                                mergeFormWithResponse(formData, responseData)</a>
                        </h4>
                        <div uib-collapse="vm.cmergeFormWithResponse" id="mergeFormWithResponse">
                            <div class="well">
                                <pre>
{{vm.getMerged() | json}}
                            </pre>
                            </div>
                        </div>

                        <h4>
                            <a ng-click="vm.cgetQuestionWithResponseList = !vm.cgetQuestionWithResponseList" href="#getQuestionWithResponseList" aria-expanded="false" aria-controls="collapseExample">
                                getQuestionWithResponseList(formData, responseData)</a>
                        </h4>
                        <div uib-collapse="vm.cgetQuestionWithResponseList" id="getQuestionWithResponseList">
                            <div class="well">
                                <pre>
{{vm.getQuestionWithResponseList() | json}}
                            </pre>
                            </div>
                        </div>

                        <h4>
                            <a ng-click="vm.cgetResponseSheetHeaders = !vm.cgetResponseSheetHeaders" href="#getResponseSheetHeaders" aria-expanded="false" aria-controls="collapseExample">
                                getResponseSheetHeaders(formData, withQuestionNumbers)</a>
                        </h4>
                        <div uib-collapse="vm.cgetResponseSheetHeaders" id="getResponseSheetHeaders">
                            <div class="well">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="vm.headersWithQuestionNumber">
                                        withQuestionNumbers
                                    </label>
                                </div>
                                <pre>
{{vm.getResponseSheetHeaders() | json}}
                            </pre>
                            </div>
                        </div>

                        <h4>
                            <a ng-click="vm.cgetResponseSheetRow = !vm.cgetResponseSheetRow" href="#getResponseSheetRow" aria-expanded="false" aria-controls="collapseExample">
                                getResponseSheetRow(formData, responseData)</a>
                        </h4>
                        <div uib-collapse="vm.cgetResponseSheetRow" class="collapse" id="getResponseSheetRow">
                            <div class="well">
                                <pre>
{{vm.getResponseSheetRow() | json}}
                            </pre>
                            </div>
                        </div>

                        <h4>
                            <a ng-click="vm.cgetResponseSheet = !vm.cgetResponseSheet" href="#getResponseSheet" aria-expanded="false" aria-controls="collapseExample">
                                getResponseSheet(formData, responseDataObjectOrList, headersWithQuestionNumber)</a>
                        </h4>
                        <div uib-collapse="vm.cgetResponseSheet" id="getResponseSheet">
                            <div class="well">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="vm.headersWithQuestionNumber">
                                        headersWithQuestionNumber
                                    </label>
                                </div>

                                <pre>
{{vm.getResponseSheet() | json}}
                            </pre>
                            </div>
                        </div>
                    </md-content>
                </md-tab> -->
            </md-tabs>

        </md-content>

        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="../bower_components/angular-translate/angular-translate.min.js"></script>
        <script src="../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
        <script src="../bower_components/Sortable/Sortable.min.js"></script>
        <script src="../bower_components/Sortable/ng-sortable.js"></script>
        <script src="../bower_components/angular-material/angular-material.js"></script>
        <script src="../bower_components/angular-material/angular-material.js"></script>
        <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="../bower_components/angular-messages/angular-messages.min.js"></script>

        <script src="../dist/form-utils.min.js"></script>
        <script src="../dist/form-builder.min.js"></script>
        <script src="../dist/form-viewer.min.js"></script>

        <script src="demo.js"></script>

    </body>
</html>
