body{

}

.demo-container{

    padding: 80px 25px;
}

.tab-pane{
    padding: 25px;
    background-color: #e4e5e6;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: #e4e5e6;
    font-weight: bold;
}