.mw-form-viewer{
    background-color: #ffffff;
    padding: 15px;
    .mw-form-page{
        margin: 15px 0;

        .mw-page-title{
            margin-top: 30px;
            margin-bottom: 25px;
        }

        .mw-page-element{
            margin-bottom: 30px;

            .mw-question-text{
                margin-bottom: 7px;
                font-weight: bold;
            }
        }


        .mw-priority-list{
            .beingDragged {
                height: 24px;
                margin-bottom: .5em !important;
                border: 2px dotted #ccc !important;
                background: none !important;
            }

            .mw-item{
                cursor: pointer;

                &:hover{
                    font-weight: bold;
                }
            }

            table{
                width:100%;
                min-height: 100px!important;
                vertical-align: top;
                td{
                    height: 100%;
                    width: 50%;
                    border: 1px solid #CCC;
                    border-radius: 7px;
                    padding: 7px;
                    vertical-align: top;
                }
            }
        }

        .align-left{
            text-align: left;
        }

        .align-center{
            text-align: center;
        }

        .align-right{
            text-align: right;
        }

        .mw-range{
            input{
                display: inline-block;
                width: auto;
            }

            .mw-range-value-label{
                display: inline-block;
                margin-left: 10px;
                font-size: 22px;
            }
        }
    }

    .mw-form-description{
        margin-bottom: 25px;
    }

    .no-drag{
        cursor: default;
    }

    .ng-invalid.ng-dirty {
        border-color: red;
        outline-color: red;
    }
}


