.mw-form-builder {
    $bg-color: white;
    background-color: $bg-color;

    .mw-page-bottom-tab-container {
        // $bottom-tab-height: 35px;
        // position: absolute;
        // right: -3px;
        // bottom: -1px;
        background-color: white;
        opacity: 1;

        &:hover {
            opacity: 1;
        }

        .mw-form-page-bottom-tab {
            // display: inline-block;
            margin-bottom: 40px;

            .bottom-flow-select {
                margin: 0 0 5px;
            }

            .bottom-flow-label {
                padding-top: 8px;
                padding-left: 8px;
                padding-right: 8px;
            }
        }
    }

    .mw-title-page {
        background-color: #ffffff;
        padding: 10px;
        border: 1px solid #d6d6d6;
        margin-bottom: 7px;
        position: relative;
    }

    .mw-add-new-page-button {
        opacity: 0.8;

        &:hover {
            opacity: 1;
            background-color: #ffffff;
        }
    }

    .page-folded {
        .mw-page-tab-actions {
            button {
                &.unfold-button {
                    display: inline-block!important;
                }

                &.fold-button {
                    display: none;
                }
            }
        }

        .mw-preview {
            .question-answers {
                display: none;
            }
        }
    }

    .mw-form-page-builder {
        background-color: #ffffff;
        border: 1px solid #d6d6d6;
        margin-bottom: 7px;
        position: relative;

        .mw-page-tab-container {
            position: relative;

            .mw-form-page-tab {
                background-color: #eee;
                display: flex;
                height: 40px;

                .mw-page-tab-text {
                    font: 400 16px/24px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
                    padding: 8px;
                    color: #4d4d4d;
                    // vertical-align: top;
                }

                md-switch {
                    color: #4d4d4d;
                    padding-top: 5px;
                    margin: 0;
                    font: normal 11px arial,sans-serif;
                }

                .mw-page-tab-checkbox-text {
                    padding: 0 2px;
                    position: relative;
                    top: -3px;
                }
            }

            .mw-page-tab-triangle {
                -webkit-flex-shrink: 0;
                flex-shrink: 0;
                overflow: hidden;
                position: relative;
                width: 18px;
            }

            .mw-page-tab-actions {
                position: absolute;
                right: 0;
                top: 0;
                // padding: 4px;
                button {
                    padding: 0;
                    margin: 0;
                    border: none;
                    opacity: 0.6;
                    outline: none;
                    //                margin-left: 4px;
                    &:hover {
                        opacity: 1;
                    }

                    &.remove-button {
                        margin-left: 6px;
                    }

                    &.unfold-button {
                        display: none;
                    }
                }
            }
        }

        .form-page-builder-body {
            padding: 10px;
        }

        .add-element.btn-group {
            .dropdown-menu {
                button {
                    width: 100%;
                    border: none;
                    background: none;
                    line-height: 28px;

                    &:hover {
                        background: #CCCCCC;
                    }
                }
            }
        }

        .mw-form-page-element-builder-wrapper {
            outline: none;
        }

        .mw-form-page-element-builder {
            &.active {
                box-shadow: 1px 0 10px 1px rgba(0,0,0,0.3);
                z-index: 1;
                background-color: #fbfbfb;
                cursor: default;

                &:hover {
                    background-color: #fbfbfb;
                    cursor: default;
                }
            }
            outline: none;
            padding: 15px 7px;
            margin-bottom: 10px;
            z-index: 0;
            zoom: 1;
            position: relative;

            &:hover {
                background-color: #f8f8f8;
                cursor: move;

                .mw-page-element-actions-tab {
                    button.edit-button {
                        opacity: 0.6;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }

            .mw-page-element-actions-tab {
                position: absolute;
                right: 0;
                top: 0;
                padding: 8px;

                button {
                    border: none;
                    opacity: 0.6;
                    outline: none;
                    //                margin-left: 4px;
                    &:hover {
                        opacity: 1;
                    }

                    &.remove-button {
                        margin-left: 6px;
                    }

                    &.edit-button {
                        opacity: 0;
                    }
                }
            }

            .form-horizontal {
                label.control-label {
                    //                text-align: left;
                }
            }
        }

        .beingDragged {
            /*height: 40px;*/
            margin-bottom: 0.5em !important;
            border: 2px dotted #ccc !important;
            background: #f8f8f8 !important;
        }

        .mw-form-question-builder-bottom {
            height: 64px;
            border-top-width: 1px;
            border-top-style: solid;
            border-top-color: rgb(224,224,224);
            align-items: center;
        }

        .mw-form-question-builder-wrapper {
            .mw-question-text {
                font-weight: bold;
            }

            .mw-question-type {
                select {
                    margin-right: 8px;
                }
            }

            .question-offered-answer-list {
                outline: none;
            }

            .draggable-list-item {
                vertical-align: bottom;

                .drag-handle {
                    // margin-right: 6px;
                    color: #808080;
                    cursor: move;
                    // display: inline-block;
                    width: 15px;
                    height: 25px;
                    // padding: 0 4px;
                    opacity: 0.1;

                    &:hover {
                        opacity: 1;
                    }

                    .handle-inner {}
                }

                .remove-item-button {
                    display: block;
                    border-radius: 100%;
                    border: none;
                    opacity: 0.5;
                    outline: none;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .question-offered-answer-list-builder {
                .mw-question-offered-answer {
                    @extend .draggable-list-item;

                    .option-type-indicator {
                        display: inline-block;
                        vertical-align: middle;
                        // margin-right: 5px;
                    }

                    .offered-answer-value {
                        display: inline-block;
                        width: 300px;
                    }
                }

                .beingDragged {
                    /*height: 20px;*/
                }

                .add-new-answer-widget {
                    margin-top: 0;
                    outline: none;

                    .drag-handle {
                        cursor: auto;
                        opacity: 0.5;
                    }

                    .option-type-indicator {
                        opacity: 0.5;
                    }

                    input {
                        cursor: pointer;
                        opacity: 0.5;
                    }

                    .add-custom-answer {
                        opacity: 1!important;

                        button {
                            background: none!important;
                            border: none;
                            padding: 0 !important;
                            font: inherit;
                            outline: none;
                            color: #0000ff;
                            //                    font-weight: bold;
                            cursor: pointer;
                        }
                    }
                }

                .custom-answer {
                    label {
                        display: inline-block;
                        margin: 0;
                        width: 40px;
                        font-weight: normal;
                    }

                    input {
                        width: 256px!important;
                    }
                }
            }

            .mw-question-grid-builder {
                .mw-grid-col-list,
                .mw-grid-row-list {
                    outline: none;
                }

                .mw-grid-separator {
                    border: 1px solid #e5e5e5;
                    margin-bottom: 10px;
                }

                .mw-grid-item {
                    @extend .draggable-list-item;

                    .mw-item-label-value {
                        display: inline-block;
                        width: 400px;
                    }
                }

                .beingDragged {
                    /*height: 20px;*/
                }

                .add-new-item-widget {
                    margin-top: 0;
                    outline: none;

                    .drag-handle {
                        cursor: auto;
                        opacity: 0.5;
                        display: inline-block;
                    }

                    .option-type-indicator {
                        opacity: 0.5;
                    }

                    input {
                        width: 400px;
                        display: inline-block;
                        cursor: pointer;
                        opacity: 0.5;
                    }
                }
            }

            .mw-question-priority-list-builder {
                .question-priority-list {
                    outline: none;
                }

                .mw-question-priority-list-item {
                    @extend .draggable-list-item;

                    input {
                        display: inline-block;
                        width: 400px;
                    }
                }

                .beingDragged {
                    /*height: 34px;*/
                }

                .add-new-item-widget {
                    margin-top: 0;
                    outline: none;

                    input {
                        width: 400px;
                        display: inline-block;
                        cursor: pointer;
                        opacity: 0.5;
                    }
                }
            }

            .mw-question-division-builder {
                .question-division-list {
                    outline: none;
                }

                .mw-question-division-list-item {
                    @extend .draggable-list-item;

                    input {
                        display: inline-block;
                        width: 400px;
                    }
                }

                .beingDragged {
                    height: 20px;
                }

                .add-new-item-widget {
                    margin-top: 0;
                    outline: none;

                    input {
                        width: 400px;
                        display: inline-block;
                        cursor: pointer;
                        opacity: 0.5;
                    }
                }
            }

            .mw-preview {
                .mw-priority-list {
                    .mw-item {}

                    table {
                        width: 100%;
                        min-height: 100px!important;
                        vertical-align: top;

                        td {
                            height: 100%;
                            width: 50%;
                            border: 1px solid #CCC;
                            border-radius: 7px;
                            padding: 7px;
                            vertical-align: top;
                        }
                    }
                }
            }
        }

        .custom-answer {}

        .mw-range {
            input {
                display: inline-block;
                width: auto;
            }
        }
    }

    .mw-confirmation-page {
        margin-top: 25px;
    }

    .ng-invalid.ng-dirty {
        border-color: red;
        outline-color: red;
    }

    .ng-invalid.strict-validation,
    .ng-submitted .ng-invalid,
    .ng-submitted .ng-invalid.ui-select-bootstrap button,
    .strict-validation .ng-invalid.ui-select-bootstrap > button {
        border-color: red;
        outline-color: red;
    }

    .page-element-list {
        min-height: 35px;

        .empty-page-element-list-label {
            position: absolute;
        }
    }

    .mw-form-image-builder {
        .image-edition {
            margin-top: 18px;

            .image-align-control {
                text-align: center;
                margin: 15px;

                button.selected {
                    background-color: #DDDDDD;
                }
            }
        }
    }

    .align-left {
        text-align: left;
    }

    .align-center {
        text-align: center;
    }

    .align-right {
        text-align: right;
    }

    .no-drag {
        cursor: default;
    }
}
