@import "form-viewer";

.mw-question-other-answer{
  md-input-container{
    margin: 0;
  }
}

.mw-division-list{
  md-input-container{
    margin: 0;
  }
}

.task-title {
	text-align: center;
    color: #B3282D;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 0px;
}

.task-description {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.decorated {
     overflow: hidden;
     text-align: center;
 }
.decorated > span {
    position: relative;
    display: inline-block;
}
.decorated > span:before, .decorated > span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid;
    width: 50px; /* half of limiter*/
    margin: 0 5px;
}
.decorated > span:before { 
    right: 100%;
}
.decorated > span:after {
    left: 100%;
}

@media only screen and (max-width: 960px){ 
	.btn-next, .btn-next:hover {
	    color: #fff !important;
	    background-color: #af272a !important;
	    padding: 0px;
	    /* height: 8px; */
	    min-height: 30px;
	    min-width: 130px;
	    border-radius: 7px;
	    text-transform: capitalize;
	    border-color: #af272a;
	    font-style: italic;
	    margin-top: 30px;
	}
}